@import '../variables';

.main {
  margin: 0 auto;
  @media (min-width: 1601px) {
    width: $container-width;
    padding: 96px 0;
  }
  @media (max-width: 1600px) {
    width: $container-width-laptop;
    padding: 64px 0;
  }
}

.header {
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid $border;

  &__title {
    font-family: Montserrat, sans-serif;
    color: $text;
    line-height: 1.12;
    font-size: 40px;
    font-weight: 600;

    &__loading {
      width: 550px;
      height: 44.8px;
    }
  }

  &__controls {
    margin-left: 8px;

    &__loading {
      margin-right: 8px;
      font-size: 18px;
      color: $primary;
    }
  }

  &__divider {
    width: 1px;
    height: 24px;
    background: $border;
  }
}

.logo {
  width: 160px;
  margin-bottom: 24px;
}

.form {
  width: 360px;

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    margin-bottom: 16px;
  }

  &__fields {
    width: 100%;
  }
}