@import './variables.scss';

body {
  background: $background;
  color: rgba($text, .85);
}

.ant-form {
  &-item {
    .ant-input-prefix {
      color: rgba($text, .45);
      margin-inline-end: 8px;
    }
  }
}

input {
  &:-webkit-autofill {
    &, &:hover, &:focus, &:active {
      transition-delay: 3600s;
      transition-property: background-color, color;
    }
  }
}

.ant-divider {
  border-block-start: 1px solid rgba($text, .25);
}

.ant-divider-horizontal {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  margin-block: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($text, .24);
  border-radius: 3px;

  &:hover {
    background-color: rgba($text, .32);;
  }
}