// Colors
$background: rgb(9, 16, 27);
$component: rgb(6, 9, 16);
$default: rgb(12, 22, 36);
$text: rgb(250, 250, 250);
$border: rgba(250, 250, 250, .25);

$primary: rgb(60, 154, 232);
$success: rgb(34, 195, 142);
$warning: rgb(243, 139, 0);
$error: rgb(235, 87, 87);

$gold: rgb(232, 179, 57);

// Sizes
$sidebar-width: 236px;
$sidebar-collapsed-width: 56px;
$container-width: 1324px;
$container-width-laptop: 1140px;

:export {
  background: $background;
  component: $component;
  default: $default;
  text: $text;

  primary: $primary;
  success: $success;
  warning: $warning;
  error: $error;

  gold: $gold;

  sidebarWidth: $sidebar-width;
  sidebarCollapsedWidth: $sidebar-collapsed-width;
  containerWidth: $container-width;
  containerWidthLaptop: $container-width-laptop;
}